<%= turbo_frame_tag 'modal' do %>
  <div data-controller="turbo-modal" data-action="turbo:submit-end->turbo-modal#submitEnd">
    <h1>Editing post</h1>
    
    <%= render "form", post: @post %>
  </div>
<%end%>
